footer {
    background-color: #0c0c0c;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: grey;
}

footer i {
    padding: 20px 20px 0 0;
}

a {
    color: white;
}

a:hover {
    color: #1ab26b;
    text-decoration: none;
}

.menulink a {
    padding: 6px 6px 6px 0;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.menulink a:first-child {
    color: white;
    padding-left: 10px;
    border-left: 2px solid green;
}

.cookie a {
    font-size: 11px;
    color: white;
}

.container-flex .toplist a {
    justify-content: center;
}

.menulink a:first-child {
    border: none;
    padding: 0;
}

.menulink i {
    padding-right: 20px;
}

.menulink i {
    font-size: 20px;
    padding-bottom: 20px;
}

.toplist ul li {
    text-transform: uppercase;
    padding-right: 20px;
    font-weight: bold;
    color: grey;
    letter-spacing: 2px;
}

.toplist ul li:first-child {
    color: white;
}