<footer>
    <div class="playmusic text-center">
        <ul class="list-inline">
            <li><a href="#"><i class="fas fa-random fa-2x"></i></a></li>
            <li><a href="#"><i class="fas fa-step-backward fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-play fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-pause fa-2x"></i></a></li>
            <li><a href="#"><i class="fas fa-step-forward fa-2x"></i></a></li>
            <li><a href="#"><i class="fas fa-redo fa-2x"></i></a></li>
        </ul>
    </div>
</footer>