.plb-20 {
    padding-left: 20px;
    padding-bottom: 30px;
}

.align{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.download-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  
  .download-btn:hover {
    background-color: #45a049;
  }
  
  .download-btn:active {
    background-color: #3e8e41;
  }
  

.music-card {
    padding-bottom: 30px;
}

.music-card img {
    margin-left: 10px;
    padding-left: 10px;
    max-width: 170px;
}

.music-card p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.image-container img {
    width: 180px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

a {
    text-decoration: none;
    /* Quita el subrayado */
    color: inherit;
    /* Usa el color del elemento padre */
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.music-card {
    transition: all 0.3s ease-in-out;
}

.music-card:hover {
    box-shadow: rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

.music-card:hover h4 {
    color: #1db954;
    /* verde estilo Spotify */
    // text-decoration: underline;
}