.plb-20 {
    padding-left: 20px;
    padding-bottom: 30px;
}

.music-card {
    padding-bottom: 30px;
}

.music-card img {
    margin-left: 10px;
    padding-left: 10px;
    max-width: 170px;
}

.music-card p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.image-container img {
    width: 180px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}