.artist-page {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #121212;
}

.artist-header {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000; /* opcional */
  border-radius: 10px;
}

.artist-img {
  height: 120%;
  width: 70%;
  // object-fit: contain;
}

.artist-info {
  max-width: 600px;
  position: absolute;
  top: 5px;
  left: 253px;
  color: white;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
}

.verified {
  color: #1db954;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.artist-info h1 {
  font-size: 4rem;
  margin: 0;
}

.listeners {
  color: #b3b3b3;
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

.controls button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.play-btn {
  background-color: #1db954;
  font-size: 1.2rem;
  color: white;
}

.edit-btn {
  background-color: #4CAF50;
  /* verde */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #ff4d4d;
  /* rojo suave */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #e60000;
  /* rojo más fuerte */
}

.follow-btn {
  border: 2px solid white !important;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
}

.dots-btn {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

.artist-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.popular-tracks {
  width: 50%;
}

.popular-tracks ul {
  list-style: none;
  padding: 0;
}

.popular-tracks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.popular-tracks li img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.artist-pick {
  width: 30%;
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
}

.artist-pick .pick {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.artist-pick img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}