<aside class="sidenav">
  <div class="logo">
    <a href="#"><img class="pb-50"
        src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt=""></a>
  </div>
  <div class="menulink">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <a routerLink=""><i class="fas fa-home"></i><span>Home</span></a>
    <a routerLink="/artists"><i class="fas fa-users"></i><span>Artists</span></a>
    <a href="#"><i class="fa fa-music"></i><span>Tracks</span></a>
    <a href="#"><i class="fa fa-globe"></i><span>Genres</span></a>
    <a href="#"><i class="fa fa-play-circle"></i><span>Playlist</span></a>
  </div>
</aside>